.carousel {
  margin: 3.75rem;

  .contentStyle {
    border-radius: 1.25rem;
    max-height: 20rem;
    width: 100%;
    color: #fff;
    line-height: 10rem;
    text-align: center;
    object-fit: cover;
  }
}

@media (width < 800px) {
  .carousel {
    margin: 2rem 0;
  }
}

@media (width < 650px) {
  .carousel {
    .contentStyle {
      height: 13.75rem;
    }
  }
}
