@import '../../styles/variables.module.scss';

$marginLeft: 0.5rem;

.logo {
  display: flex;
  align-items: center;
  margin-left: 3%;
  cursor: pointer;

  .title {
    color: $textDark;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: $fontFamily;
    line-height: 1.5rem;
    margin-left: $marginLeft;
  }

  .subtitle {
    color: $textLight;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: $fontFamily;
    line-height: 1rem;
    margin-left: $marginLeft;
  }
}

@media (width < 700px) {
  .logo {
    .title {
      font-size: 1rem;
    }
    .subtitle {
      font-size: 0.775rem;
    }
  }
}
