@import '../../styles/variables.module.scss';

$marginLeft: 0.5rem;

.logo {
  display: flex;
  align-items: center;
  margin-left: 3%;
  cursor: pointer;

  .title {
    color: $textDark;
    font-size: 20px;
    font-weight: 700;
    font-family: $fontFamily;
    line-height: 24px;
    margin-left: $marginLeft;
  }

  .subtitle {
    color: $textLight;
    font-size: 14px;
    font-weight: 400;
    font-family: $fontFamily;
    line-height: 17px;
    margin-left: $marginLeft;
  }
}
