@import '../../styles/variables.module.scss';
.card {
  text-align: center;
  padding: 1.25rem;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 2.5rem;
  width: 13rem;
  height: 16.25rem;
  box-shadow: 0px 0.875rem 1.875rem rgba(0, 0, 0, 0.05);
  margin-right: 2rem;

  .btn {
    text-align: start;
  }

  .image {
    object-fit: cover;
    height: 45%;
  }

  .title {
    text-align: start;
    font-weight: 400;
    font-size: 0.875rem;
    color: $textDark;
    font-family: $fontFamily;
    margin: 0.93rem 0;
  }

  .info {
    display: flex;
    justify-content: space-between;

    .textPrice {
      font-family: $fontFamily;
      color: $editionalColor2;
      font-weight: 500;
      font-size: 0.68rem;
    }

    .price {
      font-family: $fontFamily;
      color: $textDark;
      font-weight: 700;
      font-size: 0.875rem;
    }
  }
}

@media (width < 900px) {
  .card {
    width: 12rem;
    height: 15rem;
  }
}
@media (width < 600px) {
  .card {
    width: 11rem;
    height: 14rem;
  }
}
